.app {
  display: grid;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-columns: 1fr 5fr;
}

.header {
  background-color: aquamarine;
  grid-area: h;
}
.navbar {
  background-color: rgb(220, 248, 248);
  grid-area: n;
}

.content {
  background-color: bisque;
  grid-area: c;
}

